* {
    box-sizing: border-box;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  /* Style the header */
  header {
    background-color: #232323;
    padding: 40px;
    text-align: center;
    font-size: 35px;
    color: white;
    left: 0px;
    top: 0px;
  }

  .button {
    background-color: #F0F0F0;
    /* Green */
    display: inline;
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button1 {
    border-radius: 12px;
    display: inline;
  }

  .Github {
    padding: 10px;
  }



  section::after {
    content: "";
    display: table;
    clear: both;
  }

  #btn {
    padding: 10px;
    border-radius: 12px;
  }

  #username {
    width: 325px;
    height: 40px;
  }

  legend {

    color: black;
    padding: 5px 10px;
  }

  fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 10px;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove (internal value);
    border: 1px solid rgb(10, 10, 10);
    width: 400px;
    margin: auto;
    margin-bottom: 100px;
  }

  .fieldset>img {
    display: block;
    margin-top: 3px;
  }

  .card {
      border: 2px solid black;
      width: 100px;
      height: 100px;
      background-color: #222f3e;
      justify-content: space-around;
      align-items: center;
      display: flex;
      flex-direction: row;
      color: white;
      text-align: center;
  }

